
/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    background-color: blue;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.screen {
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 1;
    

}


canvas {
    grid-area: canvas;
    border: 4px white solid;
    background-color: midnightblue;
}

.startMenu, .optionsMenu, .instructionsMenu {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color: midnightblue;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10% auto 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    
}

.startMenu {
    
    display: none;
}

.instructionsMenu{
    
    display: none;
}

.optionsMenu {
    
    display: none;
}


button {
    background-color: white;
    color: midnightblue;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 5px;
}

button:hover {
    color: gold;
}

.info {
    color: white;
    width: 600;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pDiv, .tDiv, .lDiv {
    padding: 10px;
}