
/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: blue;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.screen {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: wheat;
    width: 80vw;
    height: 'canvas.height';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left canvas right"
}

#left-aside, #right-aside  {
    background-color: aliceblue;
}

#left-aside {
    grid-area: left;
}

#right-aside {
    grid-area: right;
}

canvas {
    grid-area: canvas;
    border: 4px white solid;
    background-color: midnightblue;
}

.startMenu {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color: midnightblue;
    position: absolute;
    top: 40%;
    right: 30%;
    transform: translate(-50%,-50%);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 'canvas.width';
    height: 'canvas.height';
    
}

button {
    background-color: white;
    color: midnightblue;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

button:hover {
    color: gold;
}
